/*ProductScreen*/
.productscreen {
    max-width: 1300px;
    margin: 1rem auto;
    margin-top: 08%;
    display: flex;
  }
  .productscreen__left {
    display: flex;
    flex: 0.8;
  }
  .left__image {
    margin: 1rem;
    margin-left: -28%;
    flex: 0.6;
  }
  .left__image img{
    transition: all 0.5s ease;
  }
  .left__image:hover img{
    transform: scale(1.1);
  }
  .left__info {
    margin: 1rem;
    flex: 0.4;
    background: white;
    height: fit-content;
    font-size: 0.9rem;
    margin-left: -6%;
    border-radius: 6px;
  }
  .left__name {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .left__price-description {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
  }
  .left__info > p,
  .right__info > p {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .left__info > p:last-child,
  .right__info > p:last-child {
    border: none;
  }
  
  .productscreen__right {
    flex: 0.2;
    
  }
  .right__info {
    width: 250px;
    margin: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    color: black;
    
    
  }
  .right__info p {
    padding: 1rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: black;
  }
  .right__info p > button {
    grid-column: 1/-1;
    width: 100%;
    padding: 10px 16px;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    border-radius: 5px;
  }
  .right__info select {
    padding: 10px 16px;
  }
  .product-screen {
    background-color: #222;
    margin-top: 6%;
    width: 60%;
    border-radius: 10px;;
  }
  .add-to-cart:hover {
    opacity: 0.9;
  }
  @media (max-width: 960px) {
    .productscreen {
      flex-direction: column;
    }
    .productscreen__left {
      flex-direction: column;
      flex: 1;
    }
    .left__image {
      flex: 1;
    }
    .left__info {
      flex: 1;
    }
    .productscreen__right {
      flex: 1;
      padding: 1rem;
    }
    .right__info {
      width: 100%;
      margin: 0;
    }
  }

  /*Cart Screen*/
  .cartscreen {
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
    margin-top: 08%;
  }
  
  .cartscreen h2 {
    margin-bottom: 1rem;
  }
  
  .cartscreen__left {
    flex: 0.7;
    margin-right: 1rem;
    background: transparent;
    padding: 1rem;
  }
  
  .cartscreen__right {
    flex: 0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
  }
  
  .cartscreen__right div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  
  .cartscreen__info p {
    padding: 8px;
  }
  
  .cartscreen__info p:first-child {
    font-weight: bold;
  }
  
  .cartscreen__right div:last-child {
    border: none;
  }
  
  .cartscreen__right div button {
    padding: 10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
  }
  
  .cartscreen__right div button:hover {
    opacity: 0.9;
    
  }
  
  @media (max-width: 1320px) {
    .cartscreen {
      max-width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      max-width: 800px;
    }
  }
  
  @media (max-width: 960px) {
    .cartscreen {
      flex-direction: column;
    }
  
    .cartscreen__right {
      margin: 1rem;
    }
  }

  /*Cart Item*/
  .cartitem {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background: #fff;
    border-radius: 2px;
    place-items: center;
    margin-bottom: 8px;
  }
  
  .cartItem__name {
    text-decoration: none;
    color: #171717;
  }
  
  .cartItem__name:hover {
    color: #dd219e;
  }
  
  .cartItem__select {
    padding: 10px 17px;
  }
  
  .cartItem__deleteBtn {
    padding: 10px 17px;
    color: red;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .cartItem__deleteBtn:hover,
  .carItem__deleteBtn:active,
  .carItem__deleteBtn:focus {
    background: #171717;
    transform: scale(1.2);
  }
  
  @media (max-width: 700px) {
    .cartItem__name {
      font-size: 0.8rem;
    }
  
    .cartItem__select,
    .cartItem__deleteBtn {
      padding: 8px 13px;
    }
  
    .cartitem__price {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 700px) {
    .cartItem__name {
      font-size: 0.6rem;
    }
  
    .cartItem__select,
    .cartItem__deleteBtn {
      padding: 5px 8px;
    }
  
    .cartitem__price {
      font-size: 0.6rem;
    }
  }