/*Category View-Admin Table Related CSS*/
.table-container{
  width:98%;
  margin-top: 8%;
  /* position: relative; */
}
.admin-searchBar{
  margin-top: 0%;
  width: 30%;
  margin-left: 74.5%;
}
.admin-table-body {
  background-color: #19191d;
  height: 800px;
}
.bar {
  border-color: rgb(190, 191, 196);
  background-color: #19191d;
  box-shadow: none;
  color:cornsilk;
}
.h2 {
  font-size: 40px;
  color: #fff;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Form related CSS*/
.form-body-category {
  background-color:  #c0c0c0;;  
}
.category-form-body {
  -webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
}
.container-category-form{
  margin-top: 6%;
  width: 45%;
  border-radius: 15px;
}
.card-form {
  margin-top: 8%;
  
}
.control-form {
  width: 325%;
  margin-left: -112.5%;
  box-shadow: none;
}
.label-category {
  margin-left: -112%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: whitesmoke;
}
.control-form-description {
  width: 354%;
  margin-left: -127%;
  
}
.category-file {
  width: 203%;
  margin-left: -51%;
}
.label-category-image {
  margin-left: -51%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: whitesmoke;
}
.btn-insert-category {
  margin-left: -190%;
  width: 120%;
  color: whitesmoke;
}

.card-category-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Category Card*/
.container-cat {
  margin-top: 0%;
  margin-right: 0%;
}
.inner-cat {
  overflow: hidden;
}
.inner-cat img{
  transition: all 1.5s ease;
}
.inner-cat:hover img{
  transform: scale(1.5);
}
.card-cat {
  margin-top: 4%;
  margin-left: -18%;
}
.category-h4 {
  font-size: 50px;
  margin-top: 5%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

