
.footer-top{
    background-color: #222;
    padding: 80px 0;
}
.segment-one h3{
    font-family:fantasy;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h3{
    font-family:fantasy;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px 0;
    text-transform: uppercase;
}
.segment-three h3{
    font-family:fantasy;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-four h3{
    font-family:fantasy;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px 0;
    text-transform: uppercase;
}


.segment-one h3:before{
    content: '|';
    color: #c65039;
    padding-right:10px;
}

.segment-two h3:before{
    content: '|';
    color: #c65039;
    padding-right:10px;
}
.segment-three h3:before{
    content: '|';
    color: #c65039;
    padding-right:10px;
}

.segment-four h3:before{
    content: '|';
    color: #c65039;
    padding-right:10px;
}



.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-four address{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-four address li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 20px;
    color: #999;
}

.segment-two ul li a{
    color: #999;
    text-decoration: none;
} 
.segment-four address li a{
    color: #999;
    text-decoration: none;
} 

.segment-three a{
    background-color: #494848;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
} 

.segment-three a i{
    color: #fff;
    font-size: 30px;
    padding: 10px 12px;
} 

.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 60px;
}


/* footer respnosive css */
@media only screen and (min-width:768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }
}