.insert{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
    
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

/* input[type="file"]{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 380px;
    width: 100%;
    height: 31px;
    border-radius: 55px;
    background-color: #f0f0f0;
    padding-left: 15px;
} */

/* .btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

} */

/* .btn:hover{
    background: #4d84e2;
} */

form.insert-form1{
    z-index: 2;
}

form.insert-form2{
    z-index: 1;
    opacity: 0;
}


.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}


.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;

}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.insert-image{
    width: 100%;
    transition: .9s .6s ease-in-out;
}

.panel .panel-content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.75rem 0;
    color: #fff;
}

.panel h3{
    font-weight: 600;
    color: black;
    line-height: 1;
    font-size: 1.5rem;
}

/* .btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
} */

.right-panel .panel-content, .right-panel .insert-image{
    transform: translateX(800px);
}

.insert-container.category-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}

.insert-container.category-mode .left-panel .insert-image,
.insert-container.category-mode .left-panel .panel-content{
    transform: translateX(-800px);
}

.insert-container.category-mode .right-panel .insert-image,
.insert-container.category-mode .right-panel .panel-content{
    transform: translateX(0px);
}

.insert-container.category-mode .left-panel{
    pointer-events: none;
} 

.insert-container.category-mode .right-panel{
    pointer-events: all;
} 

.insert-container.category-mode .insert{
    left: 25%;
} 

.insert-container.category-mode form.insert-form1{
    z-index: 1;
    opacity: 0;
} 

.insert-container.category-mode form.insert-form2{
    z-index: 2;
    opacity: 1;
} 

@media (max-width: 768px){
    .insert-container{
        min-height: 800px;
        height: 100vh;
    }
    .insert-container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .insert{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-container{
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%
    }
    .insert-image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .left-panel{
        grid-row: 1 / 2;
    }
    .right-panel{
        grid-row: 3 / 4;
    }
    .right-panel .panel-content, .right-panel .insert-image{
        transform: translateX(300px);
    }
    .panel .panel-content{
        padding-right: 15%;
        transition: 0.9s 0.6s ease-in-out;
    }
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .insert-container.category-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .insert-container.category-mode .left-panel .insert-image,
    .insert-container.category-mode .left-panel .panel-content{
        transform: translateY(-300px);
    }
    .insert-container.category-mode .insert{
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }

}   

@media (max-width: 500px){
    form{
        padding: 0 1.5rem;
    }
    .insert-image{
        display: none;
    }
    .panel .panel-content{
       padding: 0.5rem 1rem;
    }
    .insert-container:before{
        bottom: 72%;
        left: 50%;
    }
    .insert-container.category-mode:before{
        bottom: 28%;
        left: 50%;
    }
}