.sidebar{
			position: absolute;
			width: 300px;
			height: 100%;
			background: #222;
			padding: 30px 0;
		}
		.sidebar h5{
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 30px;
		}
		.sidebar ul li{
			padding: 15px;
			border-bottom: 1px solid rgba(0,0,0,0.05);
			border-top: 1px solid rgba(225,225,225,0.05);
		}
		.sidebar ul li a{
			color: #fff;
			display: block;
			text-decoration: none;
		}
		.sidebar ul li a .fa{
			width: 25px;
		}
		.sidebar ul li i{
			color: #fff;
		}
		.sidebar ul li :hover i{
			color: #000;
		}
		.sidebar ul li:hover{
			background: #5995fd;
		}
		.sidebar ul li:hover a{
			color: #000;
		}
