table{
    position: relative;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
    width:95%;
    max-height: 50vh;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    background: #fafafa;
    text-align: center;
    scroll-behavior: auto;

}

th, td{
    padding: 12px 15px;
}

th{
    background: #222;
    color: #fafafa;
    text-transform: uppercase;
}

td{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

tr:nth-child(odd){
    background-color: #eeeeee;
}


.table-search{
    margin-left: 30px;
    top: 10%;
    display: block;
    width: 40%;
}

table .btndlt{
    background-color: red;
    height: 40px;
}

table .btndlt:hover{
    background-color: yellow;
}