.usercards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding:20px;
    grid-gap: 40px;
    width: 300px;
    margin-top: 100px;
}

.usercard{
    background-color: #222;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0 ,0,0.18);

}

.usercard:hover{
    background-color: #fff;

}

.usercard-details{
    padding:20px 10px;
}

.usercard-details>h3{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;  
}

.usercard:hover .usercard-details>h3{
    color: #000;
}


.usercard-details>p{
    color:#a0a0a0;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px; 
}

.usercard:hover .usercard-details>p{
    color: #555;
}

.usercard-image{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0 ;

}

.usercard-container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
}

.usercard-container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.usercard-details .btn{
    margin-left: 45px;
    background-color: yellow;
    color: #000;
}